.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* This will center the buttons vertically */
}

.large-button {
    font-size: 2em; /* This will make the text larger */
    padding: 20px; /* This will make the button itself larger */
    margin: 10px; /* This will add some space between the buttons */
}