html,
body,
#root {
    height: 100%;
}
body {
    margin: 0;
}
#root {
    display: flex;
}

.str-chat__channel-list {
    width: 30%;
}
.str-chat__channel {
    width: 100%;
}
.str-chat__thread {
    width: 45%;
}
.channel-section {
    display: flex;
    flex-direction: column;
    width: 400px;
}
.str-chat__channel-list {
    width: 100%;
}
.channel-search-input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    height: 30px;
}